__pycache__/*
*.pyc
*.FCBak
*.cpython-38
*.FCStd.*

*.prt
*.sta
*.com
*.sta
*.dat
*.prt

*.mdl
*.lck
*.cid
*.simlog
*.sim
*.stt
*.SMAbulk
*.023
*.app_cache
*.exception

# Ignore binary files
*.exe
*.mod

# Ignore other build artifacts
*.o
*.obj
*.dll
*.so
*.dylib

# Ignore everything
*

# Do not ignore directories, so we can include specific files later
!*/

# Do not ignore .for, .bat, and .inp files
!*.for
!*.bat
!*.ps1
!*.bat
!*.txt
!*.inp
!*.py
!*.json
!*.FCStd
!*.xml
!*.csv


# Ignore local conec.for used during Abaqus runs
master/conec.for
temp